@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "VazirFont";
    src: url("../public/Fonts/Vazirmatn-Regular.ttf") format('truetype') ;
    /* src: url("../public/Fonts/Vazirmatn-Medium.ttf") format('truetype') ; */
}

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    padding-bottom: 200px;
}

